<form >
    <div class="section section-1 form-padding-box">
      <h2 class="text-center">INTRODUCTION TO NATIONAL SPORTS FEDERATION</h2>
      <div class="hl d-block mx-auto"></div>
  
      <div class="table-1 padding-box">
        
        <h4 class="text-start">Details of the President, Secretary General/ CEO and other Officials of the National Sports Federation (NSF)</h4>
        <div class="table-responsive">
          <table
            class="table  table-bordered"
            style="vertical-align: middle"
          >
          <thead>
            <tr>
              <th scope="col">S.NO</th>
              <th scope="col">NAME*</th>
              <th scope="col">DESIGNATION*</th>
              <th scope="col">EMAIL ID*</th>
              <th scope="col">MOBILE NO*</th>
              <th scope="col">OFFICE NO*</th>
              <th scope="col">REMARKS</th>
              <th scope="col">Action</th>
             
            </tr>
          </thead>
          <tbody>
                <tr>
                  <td >01</td>
                  <td><input type="text"></td>
                  <td><select class="form-select" aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select></td>
                  <td><input type="text"></td>
                  <td><input type="text"></td>
                  <td><input type="text"></td>
                  <td><input type="text"></td>
                  
                  <!-- <td><input type="text"></td> -->
                  <td class="border-0"><div><img src="/assets/images/delete-table.svg" alt=""></div> <div>DELETE</div></td>
                </tr>
           
          </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end mb-2">
          <button type="button" class="btn add_btn mt-3" id="firstStep" >+ Add</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div class="button-left">
              <button type="button" class="btn me-2  previous-btn" >
                PREVIOUS
              </button>
              <button type="button" class="btn ms-2  next-btn">
                NEXT
              </button>
            </div>
            <div class="button-right">
              <button type="button" class="btn  save-btn" >SAVE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  