<div class="marquee-component padding-box">
    <div class="container">
        <div class="row">
            <div class="marqueWrap">
              <div class="row justify-content-center upmarque">
                <div class="col-lg-2 col-md-4 col-4 marquee-img">
                    <img src="/assets/images/m-1.svg" class="my-3" alt="">
                    <img src="/assets/images/m-6.svg" class="my-3" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-4 marquee-img">
                    <img src="/assets/images/m-2.svg" class="my-3" alt="">
                    <img src="/assets/images/m-7.svg" class="my-3" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-4 marquee-img">
                    <img src="/assets/images/m-3.svg" class="my-3" alt="">
                    <img src="/assets/images/m-8.svg" class="my-3" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-4 marquee-img">
                    <img src="/assets/images/m-4.svg" class="my-3" alt="">
                    <img src="/assets/images/m-9.svg" class="my-3" alt="">
                </div>
                <div class="col-lg-2 col-md-4 col-4 marquee-img">
                    <img src="/assets/images/m-5.svg" class="my-3" alt="">
                    <img src="/assets/images/m-10.svg" class="my-3" alt="">
                </div>
             
              </div>
              
            </div>
                
        </div>
    </div>
</div>