

    <!-- Banner -->
    <div class="banner-section">
      <div class="container-fluid p-0 banner">
        <div class="container">
          <div
            id="banner-inner"
            class="row align-items-center text-center text-white">
            <div class="col-lg-6 col-md-6 col-12">
              <h1>ANNUAL CALENDAR FOR TRAINING AND COMPETITION</h1>
              <button type="button" class="btn explore-button">EXPLORE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <!-- Key Status -->
    <!-- <div class="key-status margin-box">
      <div class="container py-5">
        <div class="row text-center">
          <h2 class="mb-3">ACTC AT A GLANCE</h2>
        </div>
        <div class="row align-items-center justify-content-center ">
       
          <div class="hl "></div>
       
        </div>
        <div
          class="row justify-content-center key-status my-5"
        >
          <div class="col-lg-4 col-md-10 col-10 my-3 ">
            <div class="athelete">
              <div class="row align-items-center justify-content-between p-5">
                <div class="col-auto">
                  <div
                  class="img  d-flex align-items-center at-col"
                >
                  <img src="/assets/images/Athletes.svg" class="img-fluid d-block m-auto" alt="" />
                </div>
                </div>
                <div class="col">
                  <div class="number">
                    <p>03</p>
                    <h5 class="">FEDERATIONS ON-BOARDED</h5>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
          <div class="col-lg-4 col-md-10 col-10 my-3 ">
            <div class="ad">
              <div class="row align-items-center justify-content-between  p-5">
                <div class="col-auto">
                  <div
                  class="img  d-flex align-items-center ad-col"
                >
                  <img src="/assets/images/ad.svg" class="img-fluid d-block m-auto" alt="" />
                </div>
                </div>
                <div class="col">
                  <div class="number">
                    <p>22</p>
                    <h5 class="">PROPOSALS RECEIVED</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-10 col-10 my-3 ">
            <div class="spending">
              <div class="row align-items-center justify-content-between p-5">
                <div class="col-auto">
                 <div
                 class="img d-flex align-items-center spending-col"
               >
                 <img src="/assets/images/Spending.svg" class="img-fluid d-block m-auto" alt="" />
               </div>
                </div>
                 <div class="col">
                   <div class="number">
                     <p>10</p>
                     <h5 class="">APPROVED BUDGET</h5>
                   </div>
                 </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

   <app-about></app-about>
   <carousel></carousel>
  <!-- <app-owl-crousel></app-owl-crousel> -->
    




