
h2{
    font-size: 1.6rem;
  
}
table{
    font-size: 1.4rem;
}
select{
    font-size: 1.3rem;
}
.proposal_table{
    select{
        font-size: 1.3rem;
    }
    table{
        font-size: 1.4rem;
    }
}