<div *ngIf="allData$ | async as masterData" class="masters_tournament manage-actc-list">
    <div class="container">
        <div class="row align-items-center justify-content-between my-4">
            <div class="col-auto">
                <div class="list_heading ">
                    ACTC - EQUIPMENTS
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex">
                    <div class="buttons">
                        <button type="btn" class="btn add-buttons" (click)="addEquipment()">ADD +</button>
                    </div>
                    <div class="list_search ms-3">
                        <img src="/assets/images/search.svg" class="img-fluid" alt="">
                        <input type="text" (keyup)="filter($event)">
                    </div>
                </div>
            </div>
        </div>
        <div class="actc_list_table equipmentTable">
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S NO.</th>
                                <th scope="col">Equipment Name</th>
                                <th scope="col">Is Consumable</th>
                                <th scope="col">Sport Name</th>
                                <th scope="col">ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let data of masterData$ | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                <td>{{masterData$.indexOf(data)+1}}</td>
                                <td>{{data.equipment_Name}} </td>
                                <td>{{data.is_consumeable}}</td>
                                <td>{{data.sport_name}}</td>
                                <td>
                                    <div
                                        class="d-flex justify-content-center align-items-center text-center custom-action">
                                        <div (click)="delete(data)"><a><img src="/assets/images/delete_bin.svg"
                                                    class="d-block mx-auto text-center "></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr  *ngIf="masterData$.length == 0">
                                <td colspan="5"  class="no_data">No Data Found !</td>
                              </tr>
                        </tbody>
                    </table>
                    <ngb-pagination *ngIf="masterData$.length > 0" [collectionSize]="masterData$.length" [(page)]="page"
                        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
                    </ngb-pagination>
                    <div class="total_result">TOTAL - {{masterData$.length}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<loader *ngIf="Loader"></loader>