
<!-- Forgot Password -->
<div class="log-in">
  <div class="container log-in-banner">
    <div class="row align-items-center justify-content-center log-in-screen">
      <div class="col-lg-6 col-md-10 col-12 log-in-bg">
        <div class="row justify-content-center user-profile">
          <div class="col-12">
            <img src="/assets/images/login_img_blue.svg" class="d-block mx-auto" alt="" />
          </div>
        </div>
        <div class="log-in-form">
          <form class="row justify-content-center" [formGroup]="forgotPasswordForm" >

            <div class="col-12">
              <div class="mb-4 mt-4">
                <h3 class="text-center" style="font-size: 800">
                  FORGOT PASSWORD?
                </h3>
              </div>
            </div>

            <ng-container *ngIf="templateOne">
              <div class="col-12">
                <div class="mb-3">
                  <input type="text" class="form-control" formControlName="userId" placeholder="Enter User ID / Registered Mobile Number"/>
                  <div *ngIf="forgotFormControl['userId'].touched && forgotFormControl['userId'].invalid" class="text-danger">
                    <div *ngIf="forgotFormControl['userId'].errors?.['required']"><i class="bi bi-exclamation-circle"></i>Enter user ID/ Regd Mobile no.</div> <!--required-->
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="mb-3">
                  <button *ngIf="submittingBtn" type="submit" class="btn form-btn w-100" id="formOneBtn" (click)="ValidateIdMobileNumOrEmail(forgotPasswordForm.value)">SUBMIT</button>
                  <button *ngIf="!submittingBtn" disabled type="submit" class="btn form-btn w-100" id="formOneBtn">SUBMITING...</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="templateTwo"> 
              <div class="col-12">
                <div class="mt-3">
                 
                  <input type="text" class="form-control py-4" formControlName="number" placeholder="Mobile"  aria-describedby="emailHelp" >
 
                </div>
               </div>
               <div class="col-12">
                <div class="mt-3">
                  <input type="email" class="form-control py-4" formControlName="email" placeholder="Your Email Address" id="exampleInputEmail1" aria-describedby="emailHelp" >
                </div>
               </div>
               <div class="col-12">
                <div class="my-3">
                  <button type="submit" [autofocus]="true" class="btn form-btn w-100" id="formTwoBtn" (click)="SendOTP()">SEND OTP</button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="templatethree">
              <div class="col-12">
                <div class="mb-3">
                  <input type="text" class="form-control" formControlName="forgetotp" placeholder="Enter OTP" maxlength="6" #forgetotp/>
                  <div *ngIf="forgotFormControl['forgetotp']?.touched && forgotFormControl['forgetotp'].invalid" class="text-danger">
                    <div *ngIf="forgotFormControl['forgetotp']?.errors">  
                      <i class="bi bi-exclamation-circle"></i>
                       OTP is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="d-flex align-items-center justify-content-between my-2">
                  <div>
                    <h6 style="
                        font-size: 1.4rem !important;
                        line-height: 2.1rem !important;
                        font-weight: 500 !important;
                        color: #979797;
                      ">
                      <i class="bi bi-exclamation-circle"></i>
                      Haven't received OTP?
                      <span><button type="button" *ngIf="showResendButton" class="btn-link" (click)="ResendOTP()">Resend OTP</button></span>
                    </h6>
                  </div>
                  <div>
                    <ng-container *ngIf="showTimer">
                      <app-timer (dataFromTimer)="DataFromTimerCompo($event)"></app-timer>
                    </ng-container>
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <div class="mb-3">
                  <button type="submit"  [autofocus]="true" class="btn form-btn w-100" id="formtThreeBtn" (click)="VerifyOTP(forgetotp.value)">SUBMIT</button>
                </div>
              </div>
  
              
            </ng-container>
            
            <div class="col-12 text-center mt-5">
              <h6 style="
                  font-size: 1.4rem !important;
                  line-height: 2.1rem !important;
                  font-weight: 500 !important;
                  color: #979797;
                ">
                Did you remembered your password?
                <span><button class="btn-link" (click)="GoToPreviousPage()">Try log in</button></span>
              </h6>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
