<form [formGroup]="sectionThreeForm" *ngIf="(completeList$ | async) as getPartDData; else loader">
  <div class="section section-1 form-padding-box">
    <h2 class="text-center">REQUIREMENT OF SPORTS EQUIPMENTS</h2>
    <div class="hl d-block mx-auto"></div>

    <div class="table-1 padding-box">

      <h4 class="text-start">14.1 Requirement of Sports Equipment (Consumables)</h4>
      <div class="table-responsive">
        <table class="table  table-bordered" style="vertical-align: middle">
          <thead>
            <tr>
              <!-- <th scope="col">S.NO</th> -->
              <th scope="col">NAME OF EQUIPMENT</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">PRICE</th>
              <th scope="col">CURRENCY TYPE</th>
              <th scope="col">CURRENCY CONVERSION RATE</th>
              <th scope="col">ESTIMATED PRICE</th>
              <th scope="col">REMARKS</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <ng-container formArrayName="sectionOne">
              <ng-container *ngFor="let first of FormArrayOne.controls ; let i = index" [formGroupName]="i">
                <tr>
                  <td>
                    <select  formControlName="Equipment_Id" class="form-select"
                      aria-label="Default select example">
                      <option value="" selected disabled>Select</option>
                      <ng-container *ngFor="let options of consumableArr">
                        <option [value]="options.equipment_Id">{{options.equipment_Name}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="FormArrayOne.controls[i].get('Equipment_Id')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayOne.controls[i].get('Equipment_Id')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                    </div>
                  </td>

                  <td>
                    <input formControlName="Quantity" type="text">
                    <div *ngIf="FormArrayOne.controls[i].get('Quantity')?.touched">
                      <div class="text-danger" *ngIf="FormArrayOne.controls[i].get('Quantity')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                      <div class="text-danger" *ngIf="FormArrayOne.controls[i].get('Quantity')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>numerical upto 6 digit only
                      </div>
                    </div>
                  </td>

                  <td>
                    <input formControlName="Price" type="text">
                    <div *ngIf="FormArrayOne.controls[i].get('Price')?.touched">
                      <div class="text-danger" *ngIf="FormArrayOne.controls[i].get('Price')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                      <div class="text-danger" *ngIf="FormArrayOne.controls[i].get('Price')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>numerical upto 6 digit only
                      </div>
                    </div>
                  </td>

                  <td>
                    <select formControlName="Currency_Id" class="form-select p-3" aria-label="Default select example">
                      <option value="" selected disabled>Select</option>
                      <ng-container *ngFor="let options of currency">
                        <option [value]="options.id">{{options.name}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="FormArrayOne.controls[i].get('Currency_Id')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayOne.controls[i].get('Currency_Id')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                    </div>
                  </td>

                  <td>
                    <input formControlName="Conversion_Rate" type="text">
                    <div *ngIf="FormArrayOne.controls[i].get('Conversion_Rate')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayOne.controls[i].get('Conversion_Rate')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                      <div class="text-danger"
                        *ngIf="FormArrayOne.controls[i].get('Conversion_Rate')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>numerical only
                      </div>
                    </div>
                  </td>

                  <td>
                    {{FormArrayOne.controls[i].get("Quantity")?.value * FormArrayOne.controls[i].get("Price")?.value * FormArrayOne.controls[i].get("Conversion_Rate")?.value}}
                    <!-- <input type="text" formControlName="Expected_Price">
                    <div *ngIf="FormArrayOne.controls[i].get('Expected_Price')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayOne.controls[i].get('Expected_Price')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                      <div class="text-danger"
                        *ngIf="FormArrayOne.controls[i].get('Expected_Price')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>numerical and decimal only
                      </div>
                    </div>
                  </td> -->

                  <td>
                    <input type="text" formControlName="Remarks">
                    <div *ngIf="FormArrayOne.controls[i].get('Remarks')?.touched">
                      <div class="text-danger" *ngIf="FormArrayOne.controls[i].get('Remarks')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>Inavalid
                      </div>
                    </div>
                  </td>

                  <td [hidden]=" i == 0 ? true: false || isDisabled" class="border-0">
                    <div style="cursor: pointer;" (click)="RemoveField(i,'firstDelete')">
                      <img src="/assets/images/delete-table.svg" class="d-block mx-auto" alt="">
                      DELETE
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end mb-2">
        <button [hidden]="DisableAddButton(FormArrayOne) || isDisabled" type="button" class="btn add_btn mt-3"
          (click)="AddNewData('firstStep')">+ ADD</button>
      </div>
    </div>


    <div class="table-2 padding-box">

      <h4 class="text-start">14.2 Non - Consumables</h4>
      <div class="table-responsive">
        <table class="table  table-bordered" style="vertical-align: middle">
          <thead>
            <tr>
              <th scope="col">NAME OF EQUIPMENT</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">PRICE</th>
              <th scope="col">CURRENCY TYPE</th>
              <th scope="col">CURRENCY CONVERSION RATE</th>
              <th scope="col">ESTIMATED PRICE</th>
              <th scope="col">REMARKS</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <ng-container formArrayName="sectionTwo">
              <ng-container *ngFor="let second of FormArrayTwo.controls ; let i = index" [formGroupName]="i">
                <tr>
                  <!-- <td>01</td> -->
                  <td>
                    <select formControlName="Equipment_Id" class="form-select" aria-label="Default select example">
                      <option value="" selected disabled>Select</option>
                      <ng-container *ngFor="let options of nonConsumableArr">
                        <option [value]="options.equipment_Id">{{options.equipment_Name}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="FormArrayTwo.controls[i].get('Equipment_Id')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayTwo.controls[i].get('Equipment_Id')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                    </div>
                  </td>
                  <td>
                    <input formControlName="Quantity" type="text">
                    <div *ngIf="FormArrayTwo.controls[i].get('Quantity')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayTwo.controls[i].get('Quantity')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                      <div class="text-danger" *ngIf="FormArrayTwo.controls[i].get('Quantity')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>numerical upto 6 digit only
                      </div>
                    </div>
                  </td>

                  <td>
                    <input formControlName="Price" type="text">
                    <div *ngIf="FormArrayTwo.controls[i].get('Price')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayTwo.controls[i].get('Price')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                      <div class="text-danger" *ngIf="FormArrayTwo.controls[i].get('Price')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>numerical upto 6 digit only
                      </div>
                    </div>
                  </td>

                  <td>
                    <select formControlName="Currency_Id" class="form-select p-3" aria-label="Default select example">
                      <option value="" selected disabled>Select</option>
                      <ng-container *ngFor="let options of currency">
                        <option [value]="options.id">{{options.name}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="FormArrayTwo.controls[i].get('Currency_Id')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayTwo.controls[i].get('Currency_Id')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                    </div>
                  </td>
                  <td>
                    <input formControlName="Conversion_Rate" type="text">
                    <div *ngIf="FormArrayTwo.controls[i].get('Conversion_Rate')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayTwo.controls[i].get('Conversion_Rate')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                      <div class="text-danger"
                        *ngIf="FormArrayTwo.controls[i].get('Conversion_Rate')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>numerical only
                      </div>
                    </div>
                  </td>

                  <td>
                    {{FormArrayTwo.controls[i].get("Quantity")?.value * FormArrayTwo.controls[i].get("Price")?.value * FormArrayTwo.controls[i].get("Conversion_Rate")?.value}}
                    <!-- <input type="text" formControlName="Expected_Price">
                    <div *ngIf="FormArrayTwo.controls[i].get('Expected_Price')?.touched">
                      <div class="text-danger"
                        *ngIf="FormArrayTwo.controls[i].get('Expected_Price')?.errors?.['required']">
                        <i class="bi bi-exclamation-circle"></i>This field is mandatory
                      </div>
                      <div class="text-danger"
                        *ngIf="FormArrayTwo.controls[i].get('Expected_Price')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>numerical upto 8 digit only
                      </div>
                    </div> -->
                  </td>

                  <td>
                    <input type="text" formControlName="Remarks">
                    <div *ngIf="FormArrayTwo.controls[i].get('Remarks')?.touched">
                      <div class="text-danger" *ngIf="FormArrayTwo.controls[i].get('Remarks')?.errors?.['pattern']">
                        <i class="bi bi-exclamation-circle"></i>Inavalid
                      </div>
                    </div>
                  </td>
                  <td [hidden]=" i == 0 ? true: false || isDisabled" class="border-0">
                    <div style="cursor: pointer;" (click)="RemoveField(i,'secondDelete')">
                      <img src="/assets/images/delete-table.svg" class="d-block mx-auto" alt="">
                      DELETE
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end mb-2">
        <button [hidden]="DisableAddButton(FormArrayTwo) || isDisabled" type="button" class="btn add_btn mt-3" (click)="AddNewData('secondStep')">+ ADD</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between">
          <div class="button-left">
            <button type="button" class="btn me-2  previous-btn" (click)="goToSectionTwo()">
              PREVIOUS
            </button>
            <button type="button" class="btn ms-2  next-btn"
            [disabled]="!formListData.isfilledby_nsf || DisableAddButton(FormArrayOne) || DisableAddButton(FormArrayTwo)" 
            (click)="NextButton(isDisabled,sectionThreeForm.value,sectionThreeForm)">
              NEXT
            </button>
          </div>
          <div class="button-right">
            <button type="button" class="btn  save-btn"
              (click)="SaveForm(sectionThreeForm.value,sectionThreeForm)" [hidden]="isDisabled">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<ng-template #loader>
  <loader></loader>
</ng-template>