<div class="ncc_tables">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5">
                <h2 class="text-center">CAMP DETIALS</h2>
            </div>
            <div class="col-12">
                <!-- Table 1 -->
                <div class="table-responsive pb-5">
                    <h5>Camp/Competition Details</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">EVENT GROUP*</th>
                                <th rowspan="2">PURPOSE*</th>
                                <th rowspan="2">IS THE VENUE MODIFIED?</th>
                                <th  colspan="3">VENUE DETAILS</th>
                                <th colspan="3">REVISED VENUE DETAILS</th>
                                <th rowspan="2">JUSTIFICATION FOR VENUE</th>
                            </tr>

                            <tr>
                                <th>HOST STATE/VENUE</th>
                                <th>LOCATION*</th>
                                <th>CITY TYPE*</th>
                                <th>HOST STATE/VENUE</th>
                                <th>LOCATION*</th>
                                <th>CITY TYPE*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </td>
                                <td>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="table-responsive py-5">
                    <h5>Event Modification</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2">IS THERE A MODIFICATION IN THE DATES?*</th>
                                <th colspan="2">PROPOSED DATES</th>
                                <th colspan="2">REVISED DATES</th>
                                <th rowspan="2">PHASE OF MACROCYCLE DURING WHICH CAMP IS BEING PROPSED</th>
                                <th rowspan="2">IS THERE A MODIFICATION IN THE TEAM?</th>
                                <th colspan="3">PROPOSED TEAM COMPOSITION</th>
                                <th colspan="3">REVISED TEAM COMPOSITION</th>
                                <th rowspan="2">REASONS FOR MODIFICATION</th>
                                <th rowspan="2">UPLOAD DOCUMENTS</th>
                            </tr>
                            <tr>
                                <th>
                                    FROM*
                                </th>
                                <th>TO*</th>
                                <th>
                                    FROM*
                                </th>
                                <th>TO*</th>
                                <th>MALE</th>
                                <th>FEMALE</th>
                                <th>TOTAL</th>
                                <th>MALE</th>
                                <th>FEMALE</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="date" class="form-control">
                                </td>
                                <td>
                                    <input type="date" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td> 
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td >
                                    <div class="row">
                                        <div class="col-12 mb-1">
                                            <div class="d-flex">
                                                <div class="me-2">VENUE:</div>
                                                <div><input type="text" class="form-control"></div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-1">
                                            <div class="d-flex">
                                                <div class="me-2">DATES:</div>
                                                <div><input type="text" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="file" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive py-5">
                    <h5>Foreign Visits Linked to National camps</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="7">IF FOREIGN VISIT IS LINKED TO NATIONAL CAMP</th>
                            </tr>
                            <tr>
                                <th rowspan="2">EVENT NAME</th>
                                <th colspan="2">EVENT DATES</th>
                                <th rowspan="2">EVENT VENUE</th>
                                <th colspan="2">NO. OF PLAYERS</th>
                                <th rowspan="2">NO. OF COACHES/ SUPPORT STAFF</th>
                            </tr>
                            <tr>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>MALE</th>
                                <th>FEMALE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="date" class="form-control"></td>
                                <td><input type="date" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row py-5">
          <div class="d-flex">
            <button type="button" class="me-2 next-btn">PREVIOUS</button>
            <button type="button" class="me-2 next-btn">NEXT</button>
          </div>
        </div>
    </div>
</div>
