<!-- About -->
<div class="about ">
  <div class="container py-1">
    <div class="row align-items-center ">
      <div class="col-md-6 col-12 ">
        <div class="d-flex flex-column p-4">

          <img src="/assets/images/bajrang-editted.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="about-text px-md-4 p-0">About <span class="actc">ACTC</span></div>
        <div class="d-flex justify-content-center p-4">
          <p class="">
            The Annual Calendar for Training & Competitions (ACTC) is being created for the various High Priority
            Disciplines, such as Shooting, Hockey, Wrestling etc. and Priority Order Disciplines such as Cycling,
            Table-Tennis etc. and several other sports such as the Para-Sports, Kabaddi etc., wherein details regarding
            National Coaching Camps, National Championships, International Competitions/ Exposures, Coaches, equipment
            etc. for the entire year is drawn. Short term & long term Milestones for the disciplines are set by National
            Sports Federations (NSF) in the ACTC. And the ACTC is funded by the Ministry of Youth Affairs and Sports
            under the Assistance to NSF Scheme, and monitored by the Sports Authority of India.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>