<router-outlet></router-outlet>

<!-- <ng-container *ngIf="showView == 1">
    <manage-actc-list (dataFromChild)="DataFromChild($event)" [toggleView]="showView"></manage-actc-list>
</ng-container>

<ng-container *ngIf="showView == 2">
    <manage-actc-categories [year]="year" [userData]="userDetail" ></manage-actc-categories>
</ng-container>

<ng-container *ngIf="showView == 3">
    <release-mom></release-mom>
</ng-container> -->
<!-- <button class="btn btn-primary" (click)="ToggleView()">Temporary button for navigation</button> -->

<!-- <button style="
background-color: #1F60AB;
color: white;
border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;
margin: 0px 5px 0px 5px;" (click)="ReleaseMOM()">Temporary release mom</button> -->