
<div class="container">
    <div class="row py-3">
      <h5 class="text-center pt-5 pb-2">ANNUAL CALENDAR FOR ONGOING YEAR</h5>
      <div class="new_vl d-block m-auto"></div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <div class="new_tile" #navTiles (click)="NavigateToSectionOne()">
          <div class="row justify-content-between align-items-center">
            <div class="col-auto">
              <div class="d-flex align-items-center justify-content-between">
                <div><img src="/assets/images/new-blue-tick.svg" alt="" class="img-fluid me-5" ></div>
                <div  class="d-flex align-items-center" ><h5 class="m-0">Proposed calendar</h5></div>
              </div>
            </div>
            <div class="col-auto">
              <button type="button" class="btn"><img src="/assets/images/new_actc_arrow.svg" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>