.present_performance{
    padding: 10px;
    background-color: white;

    .export_list_btn{
      select{
        font-size: 1.3rem;
      }
    }

    .heading{
        font-size: 1.4rem;
        font-weight: 700;
        color: #060606;
        text-transform: uppercase;
    }
    .section_bar{
        background-color: #1F91C0;
        // height: 4rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        

        .nav_bar_height{
            min-height: 4rem;
            // padding-top: 1rem;
            // padding-bottom: 1rem;
            display: flex;
            align-items: center;
        }

        .nav-pills .nav-link{
            background-color: #086B94;
            color: #FFFFFF;
            font-size: 1.2rem;
            font-weight: 900;
            letter-spacing: 1px;
        }

        .nav-pills .nav-link.active{
                background-color: white;
                color: #000000;
        }
    }

    table{
        vertical-align: middle;

        thead{
            background-color: #F2F2F2;
        }

        
    th{
        font-size:1.4rem;
        padding: 1rem;
        color: #000000;

    }
    td{
        font-size: 1.3rem;
        padding: 1rem;
        color: #000000;

        input{
            border:1px solid #EEEEEE;
            padding: 5px;
            
            font-size:1.3rem;
        }
    }
    }



}

