

<!-- Log-in -->
<div class="log-in">
  <div class="container log-in-banner">
    <div class="row align-items-center justify-content-center log-in-screen">
      <div class="col-lg-6 col-md-10 col-12 log-in-bg">
        <div class="row justify-content-center user-profile">
          <div class="col-12">
            <img
              src="/assets/images/login_img_blue.svg"
              class="d-block mx-auto"
              alt=""
            />
          </div>
        </div>
        <div class="log-in-form">
          <form class="row justify-content-center" [formGroup]="resetPasswordFrom">
            <div class="col-12">
              <div class="mb-4 mt-4">
                <h3 class="text-center" style="font-size: 800">
                  RESET PASSWORD
                </h3>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3"  id="eye_on_off">
              <div class="mb-3">
                
                <div id="eye_icons" >
                  <div (click)="passwords()">
                  <i class="bi bi-eye" style="font-size: 18px;" *ngIf="!show" ></i>
                  <i class="bi bi-eye-slash" style="font-size: 18px;" *ngIf="show" ></i>
                </div>
                  </div>
              
                <input
                  [type]="password"
                  class="form-control"
                  id="Enter new Password"
                  placeholder="New Password"
                  formControlName="newpass"
                  aria-describedby="emailHelp"
                />
                <div class="error_text" *ngIf="resetPasswordFromControl['newpass']?.touched && resetPasswordFromControl['newpass']?.invalid">
                  <div style="color: red; " *ngIf="resetPasswordFromControl['newpass'].errors && resetPasswordFromControl['newpass'].errors['required']">
                    This field is required
                  </div>
                  <div class="error_text" *ngIf="resetPasswordFromControl['newpass']?.errors?.['pattern']" style="color: red
                  ;">
                    Please Enter Valid Password 
                  </div>
                  
                </div>
              </div>
              
              </div>
             
            </div>
          
            <div class="col-12">
              <!-- <div class="mb-3" style="position: relative">
               
                <input
                  type="password"
                  src="/assets/images/eye-fill.svg"
                  class="form-control"
                  formControlName="confirmpass"
                  placeholder="Confirm Password"
                  id="exampleInputPassword1"
                />
                <div style="color:red"
                  *ngIf="(resetPasswordFromControl['confirmpass'].dirty || resetPasswordFromControl['confirmpass']?.touched)  && resetPasswordFrom.errors?.['notMatched']"
                > Password must be same as above </div>
                <div *ngIf="resetPasswordFromControl['confirmpass']?.touched && resetPasswordFromControl['confirmpass']?.invalid">
                  <div *ngIf="resetPasswordFromControl['confirmpass'].errors?.['required'] && !resetPasswordFrom.errors?.['notMatched']">
                    This field is required
                  </div>
                </div>
              </div> -->

              <div class="mb-3"  id="eye_on_off">
                <div class="mb-3">
                  
                  <div id="eye_icons">
                    <div (click)="ccc()" >
                    <i class="bi bi-eye" style="font-size: 18px;" *ngIf="!shows"></i>
                    <i class="bi bi-eye-slash" style="font-size: 18px;" *ngIf="shows" ></i>
                    </div>
                  </div>
                  <input
                  [type]="confirmpasswords"
                  src="/assets/images/eye-fill.svg"
                  class="form-control"
                  formControlName="confirmpass"
                  placeholder="Confirm Password"
                  id="exampleInputPassword1"
                  />
                  <div style="color:red" class="error_text"
                  *ngIf="(resetPasswordFromControl['confirmpass'].dirty || resetPasswordFromControl['confirmpass']?.touched)  && resetPasswordFrom.errors?.['notMatched']"
                > Password must be same as above </div>
                <div *ngIf="resetPasswordFromControl['confirmpass']?.touched && resetPasswordFromControl['confirmpass']?.invalid">
                  <div class="error_text" style="color: red" *ngIf="resetPasswordFromControl['confirmpass'].errors?.['required'] && !resetPasswordFrom.errors?.['notMatched']">
                    This field is required
                  </div>
                </div>
                </div>
                </div>
            </div>

            <div class="col-12">
              <div class="mb-3">
                <button type="submit" class="btn form-btn w-100" (click)="ResetPassword(resetPasswordFrom.value)" #resetPassword>SUBMIT</button>
              </div>
            </div>

            <!-- <div class="col-12 text-center mt-5">
              <h6>
                Did you remembered your password?
                <span><button [disabled]="!resetPasswordFrom.valid" (click)="GoToPreviousPage()" class="btn-link">Try log in</button></span>
              </h6>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


