.present_performance{
    padding: 10px;
    background-color: white;

    .export_list_btn{
      select{
        width: 140px;
        font-size: 1.3rem;


       
}
        
@media screen and (max-width:576px) {
    select{
        width: 65px;
        font-size: 1.3rem;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        padding-right: 28px !important;
    }
  }

     
    }

    .heading{
        font-size: 1.4rem;
        font-weight: 700;
        color: #060606;
        text-transform: uppercase;
    }
    .section_bar{
        background-color: #1F91C0;
        // height: 4rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        

        .nav_bar_height{
            min-height: 8rem;
            // padding-top: 1rem;
            // padding-bottom: 1rem;
            display: flex;
            align-items: center;
        }

        .nav-pills .nav-link{
            background-color: #086B94;
            color: #FFFFFF;
            font-size: 1.2rem;
            font-weight: 900;
            letter-spacing: 1px;
        }

        .nav-pills .nav-link.active{
                background-color: white;
                color: #000000;
        }
    }

    .main_navigation_proposed_actc{

        .nav-pills .nav-link{
            background-color: transparent !important;
            color: #000000;
            font-size: 1.4rem;
            font-weight: 900;
            letter-spacing: 1px;
        }

        .nav-pills .nav-link.active{
               background-color: transparent !important;
                color: #000000;
                // border: 0px !important;
                border-radius: 0px !important;
                border-bottom: 3px solid #086B94;
        }

    }

    table{
        text-align: center;
        vertical-align: middle;

        thead{
            background-color: #F2F2F2;
        }
        tbody{
            background-color: white;
        }

        
    th{
        min-width: 150px;
        font-size:1.4rem;
        padding: 1rem;
        color: #000000;

    }
    td{
        font-size: 1.3rem;
        padding: 1rem;
        color: #000000;

        input{
            border:1px solid #EEEEEE;
            padding: 5px;
            
            font-size:1.3rem;
        }
    }
    }



}


.section_bar{
    .nav-link{
        background-color: #086B94 !important;
        color: #FFFFFF !important;
    }

    .active{
        background-color: white !important;
        color: black !important;
    }
}


.left-arrow{
    width: 4rem;
    height: auto;
}

.right-arrow{
    width: 4rem;
    height: auto;
}