<div class="container new_actc">
    <!-- Blue Bar -->
   
        <div class="row new_blue_bar w-100">
            <div class="col-auto new_bar_sections" #home>
                <img  src="/assets/images/new-nsf-home.svg" class="img-fluid ms-3" alt="">
            </div>
        </div>
   

    <!-- Table -->
    <div class="row">
        <div class="col-12">
            <h5 class="text-center pt-5 pb-2">INTRODUCTION TO NATIONAL SPORTS FEDERATION</h5>
            <div class="new_vl d-block m-auto"></div>
            <div class="table-responsive">
               <h6 class="mt-5">Details of the President, Secretary General/ CEO and other Officials of the National Sports Federation (NSF)</h6>
                <table class="table table-bordered text-center align-middle">
                    <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>AGE GROUP</th>
                            <th>EVENT/SUB GROUP</th>
                            <th>YEAR</th>
                            <th>PARTICULARS</th>
                            <th>VENUE</th>
                            <th>BASIS OF SELECTION/ PARTICIPATION</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                           
                        </tr>
                        <tr>
                            <td>02</td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                           
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div class="row justify-content-end">
              <div class="col-auto">
                <button type="button" class="btn new_add_btn">+ ADD</button>
              </div>
            </div>
        </div>
    </div>


    <!-- Buttons  -->
    <div class="row mt-5 justify-content-between ">
        <div class="col-auto">
            <button type="button" class="btn new_next_btn mx-2 my-2 ">Previous</button>
            <button type="button" class="btn new_next_btn mx-2 my-2 ">Next</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn new_save_btn mx-2 my-2 ">Save</button>
        </div>
    </div>
   </div>