@import "@ng-select/ng-select/themes/default.theme.css";
$primary1:#FCB316;
$primary2:#ffffff;
$primary3:#000000;
$light-black: #333333;
$dropdown-border:#8B8B8B;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// Default font size i.e font-size is 10px
html {
  font-size: 62.5%;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 44%;
  }
}
body {
  // Font famiy
  font-family: "Lato", sans-serif !important;
}


// Horizontal line below headings
.hl{
  margin-top: 0.5rem !important;
  width: 6.2rem !important;
  height: 0px !important;
  background-color: #1f91c0 ;
  border: 2px solid #1f91c0 ;
}




//Global Margin-box class
.margin-box{
  margin-top: 4rem  !important;
  margin-bottom: 4rem  !important;
}

// Global Padding-box class
.padding-box{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

// Global Special-padding-box
.special-box-padding{
  padding-top: 8rem;
  padding-bottom: 8rem;
}

// Owl-crowsel-homepage
.crousel-images {
  background-color: #f2f2f2;
  position: relative;
  .owl-carousel .owl-item img {
    background-color: white;
    height: 30rem;
    width: 30rem;
    padding: 3.5rem;

    &:hover{
      // background-color: #FCB316;
      transform: scale(1.1);
      // color: white;
      transition: 0.3s ease-out;
     
  }
  }
  .owl-nav .owl-prev {
    position: absolute;
    display: block;
    margin-right: auto;
    top: 50%;
    left: -80px;
    background-color: transparent;

    &:hover{
      transform: scale(1.1);
      background-color: transparent;
      
  }

    img{
      height: 3.5rem;
      width: 3.5rem;
    }
  }
  .owl-nav .owl-next {
    position: absolute;
    display: block;
    margin-left: auto;
    top: 50%;
    right: -80px;
    background-color: transparent;

    &:hover{
      transform: scale(1.1);
      background-color: transparent;
      
  }

    img{
      height: 3.5rem;
      width: 3.5rem;


    }
  }
  .owl-dots {
    display: none;
  }
  @media screen and (max-width: 991px) {
    .owl-dots {
      margin-top: 1rem;
      display: block;
    }
  }
  @media screen and (max-width: 991px) {
    .owl-nav {
      /* display: flex; */
      display: none !important;
    }
  }
}


.page-title{
  // background-color: #2A2A2A;
  background-image: linear-gradient(#0B81B9, #40ACCA, #61C3D2) !important;
      h3{
          font-size: 4rem;
          line-height: 7.3rem;
          color: white;
          opacity: 95%;
      }
  
      .hl{
          background-color: white !important;
          border-color: white !important;
          opacity: 95% !important;
          width: 14.6rem !important;
      }
     
  }
  

// Global used form-btn
.form-btn{
  padding: 1rem !important;
  background-color: #1f91c0 !important;
  border-radius: 6px !important;
  font-size: 1.6rem !important;
  line-height: 1 !important;
  letter-spacing: 0.61px !important;
  color: white !important;
  text-transform: uppercase !important;

  &:hover{
      background-color: #1f91c0 !important;
      transform: scale(1.1) !important;
      color: white !important;
      transition: 0.3s ease !important;
  }
}
// Global used login button
.login-button{
  font-size: 1.4rem !important;
  // font-weight: 2.5rem !important;
  font-weight: 400 !important;
  background-color: #1F91C0 !important;
  padding: 0.8rem !important;
  letter-spacing: 1.09px !important;
  text-transform: uppercase !important;


}


.btn:disabled{
  // padding: 2rem !important;
  background-color: #b6b6b6 !important;
  border-color:   #b6b6b6 !important;
  // border-radius: 6px !important;
  font-size: 1.4rem !important;
  // line-height: 1 !important;
  letter-spacing: 0.9px !important;
  font-weight: 400;
  color: black !important;
  opacity: 50% !important;
  text-transform: capitalize !important;
}

.btn-link{
  background: none!important; 
  border: none;  
  padding: 0!important;  /*optional*/  
  font-family: arial, sans-serif;  /*input has OS specific font-family*/  
  color: #069;  
  text-decoration: underline;  
  cursor: pointer;
}

// Bootstrap Icon
.bi-exclamation-circle::before {
  content: "\f333";
  font-size: 14px;
  margin-right: 5px;
}

// global class to show danger and success text
.text-danger{
  font-size: 1.4rem !important;
}
.text-success{

  font-size: 1.6rem !important;
  font-weight: 500;

}


.toast{
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
   margin: 0 !important; 
  position: relative !important;
  right: 0 !important;
  top: 0 !important;
  /* bottom: 20%; */
  z-index: 1200 !important;
  width: 100% !important;
  text-align: center !important;
  font-size: 1.4rem !important;
  height: 5% !important;
}


  .dropdown-item{
    font-size: 1.6rem !important;
    cursor: pointer !important; 
  }


  .dashboard_btn{
  //   font-size: 1.9rem;
  //    padding: 5px 13px !important;
  //    color: #15629D;
  //    border-color: #fff !important;
  //  background-color: white;
  //  box-shadow: 0px 3px 6px #00000029;
  height: 38px;
  font-size: 1.9rem;
  /* padding: 5px 13px!important; */
  color: #15629d;
  border-color: #fff!important;
  background-color: #fff;
  box-shadow: 0 3px 6px #00000029;
  width: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
 }


//  @media screen and (max-width:991px) {
//   .dashboard_btn{
//     padding: 8px 13px !important;
//   }
//  }
  //dashboard
//   .dashboard{

//     font-family: "Lato" , sans-serif;
//     .notification_dashboard{
//         .notified{
//            top:5px !important;
//            left: 30px !important;
//         }
        
        
//         .dropdown-toggle::after {
//             color: black !important;
//             font-size: 1.3rem;
//         }
//     }
//     .hamburger{
//         img{
//             height: 2rem;
//         }
//     }
//     h2{
//         font-family: "Lato" , sans-serif;
//         font-size: 2.7rem;
//         line-height: 1.5;
//         font-weight: bold;
//     }

//     .process{
//          position: relative;
//         .process-btn{
//             background-color: white;
//             border: 1px solid #CCCCCC;
//            img{
//             height: 6.5rem;
//             width: 6.5rem;
//             padding: 1rem;
//             filter: brightness(0.5);
//            }
//         }
//         .process-btn:hover{
//             background-color: #FCB316 !important;
//             img{
//               filter: brightness(1) !important;
//             }
//         }
//         .active-btn{
//             background-color: #FCB316 !important;
//           img{
//             filter: brightness(1) !important;
//           }
//         }

//         .process-text{
//             font-size: 1.4rem;
//             font-weight: 900;
//             line-height: 2.5;
//         }
//     }
//     .process-line{
//         position: absolute;
//         width: 64rem;
//         height: 1px;
//         background-color: #CCCCCC;
//         opacity: 50%;
//         z-index: -1;
//         top: 37%;
//     }

//     @media screen and (max-width:767px) {
//         .process-line{
//             width: 39rem;
//         } 
//     }

//     .form-tabs{
//         .nav-link{
//             color: #D1D1D1 !important;
//             font-size: 1.6rem;
//             line-height: 2.5;
//             padding: 0px 25px;
//         }
//         .active{
//             color: black !important;
//             img{
//                 filter: brightness(0) !important;
//             }
//         }
//     }
// }

.table{
  border: 1px solid #dee2e6 !important;
}



// Dashboard table Flow
.dashboard-content{

 
  .vl{
      height: 15px;
      width: 1px;
      background-color: #707070;
      opacity: 25%;
  }

  th{
      font-size: 1.9rem;
      letter-spacing: 0.72px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 700;
  // column-span: 1;
  }
  td{
      font-size: 2.1rem;
      letter-spacing: 0.72px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 400;
  color: #C9C9C9;
  // column-span: 2;
    input{
      // padding-right: 25px !important;
      // white-space: nowrap !important;
      // overflow: hidden !important;
      // text-overflow: ellipsis !important;
     
    }
  select{
    padding-right: 25px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  }

  .section{
      .btn{
                  background-color: #1F91C0;
                  font-size: 1.4rem;
                  font-weight: 700;
                  color: white;
                  letter-spacing: 0.9px;
      }
  }

  .section-1,.section-2{
      th{
          font-size: 1.4rem !important;
          color: black !important;
          text-align: center !important;
          background-color: #F2F2F2 !important;
          min-width: 200px !important;
          vertical-align: middle !important;
          font-weight: 500;
      }
      td{
          font-size: 1.4rem !important;
          color: black !important;
          font-weight: 400 !important;
          text-align: center !important;
          min-width: 120px !important;
          vertical-align: middle !important;

      }
      input{
          border:1px solid #dddddd !important;
          border-color:#dddddd !important ;
          border-radius: 3px !important;
          padding: 7px 5px 7px 5px;
          min-width: 200px !important;
      }

      select{
        border-radius: 3px !important;
        padding: 7px 5px 7px 5px;
        font-size: 1.4rem !important;
        
      }
  }
  .active-td{
      color: #0A3D81 !important;
      text-decoration: underline !important;
  }
  h2{
      color: #060606 !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  letter-spacing: 0.57px !important;
  }
  color: #060606;

  h4{
    font-size: 1.6rem !important;
    line-height: 1.5 !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
  }

  #forms{
      background-color: #E6EEF7;
      border: 1px solid #D5D5D5;
      position: relative;
  }

  #form-parts{
      position: absolute;
      top: -10rem;
      left: 0;
  }

  .form-parts{

      p{
          font-size: 1.2rem;
          text-transform: uppercase;
          font-weight: 700;
      }
      .img{
          background-color: #FFFFFF;
          border: 1px solid #DEDEDE;
          border-radius: 0.5rem;
      }
      img{
          height: 80px;
          width: 90px;
          border-radius: 0.5rem;
          filter:brightness(0.5);
      }

      @media screen and (max-width:576px) {
          img{
              width: 65px;
              height: 55px;
          }
      }
      @media screen and (max-width:350px) {
          img{
              width: 50px;
              height: 40px;
          }
      }

      .active-form-part{
              img{
                  filter: brightness(1) !important;
              }
          
            .img{
              background-color: #1F91C0 !important;
             
            }
          
      }
  }


  .form-section{

    img{
      cursor: pointer !important;
    }
      .home{
          
              border: 0 !important;
        
      }
     .nav-link{
      // font-size: 1.1rem;
      // color: #000000 !important;
      // line-height: 2.5;
      // letter-spacing: 0.47px;
      // margin-right: 1.5rem;
      // border: 0.4000000059604645px solid #ffffff !important;
      // background-color: #ffffff; 


      font-size: 1.1rem;
      color: #FFFFFF !important;
      line-height: 2.5;
      letter-spacing: 0.47px;
      margin-right: 1.5rem;
      border: 0.4000000059604645px solid #ffffff !important; 
      // background-color: #ffffff;
      background-color: #086B94 !important;
      border: 0px !important;

      img{
          filter: brightness(0) !important;
      }
     }

     
      .form-tabs{
          padding-left: 1.5rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          background-color: #1F91C0;
          font-weight: 900;
         
      
          
      }
      .active{
          background-color: white !important;
          color: black !important;
          font-weight: 900;
          font-size: 1.1rem;
          letter-spacing: 0.47px;
          line-height: 2.5;
          margin-right: 1.5rem;
          // border: 0px !important ;
          // border-color: white !important;

          img{
              filter: brightness(0) !important;
          }
      }

      .tab-pane{
          width: 100% !important;
          margin: 0 !important;
      }
  }

 

  
}


.previous-btn , .next-btn{
  background-color: #3B454D !important;
  padding: 10px 20px !important;
  color: white !important;
  font-size: 1.6rem !important;
  font-weight: 700 !important;
  letter-spacing: 0.6px !important;
  border: 1px solid #3B454D !important;
  border-color: #3B454D !important;
  border-radius: 3px !important;
}
.previous-btn:hover , .next-btn:hover{
  background-color: #3B454D !important;
  padding: 10px 20px !important;
  color: white !important;
  font-size: 1.6rem !important;
  font-weight: 700 !important;
  letter-spacing: 0.6px !important;
  border: 1px solid #3B454D !important;
  border-color: #3B454D !important;
  border-radius: 3px !important;
}

.save-btn{
  background-color: #3B454D !important;
 border:1px solid #3B454D !important;
 color: white !important;
  padding: 10px 20px !important;
}
.save-btn:hover{
 background-color: #3B454D !important;
 border:1px solid #3B454D !important;
 color: white !important;
}

.add_btn{
  text-transform: uppercase !important;
  background-color: transparent !important;
  border: 1px solid #217346 !important;
  color: #217346 !important;
}

.form-padding-box{
  padding-top: 0rem;
  padding-bottom: 0rem;
}


img{
  cursor: pointer !important;
}

@media screen and (max-width:998px) {
  .dashboard-content .form-section .nav-link {
    margin-bottom: 1rem;
  }
}

.swal2-popup {
  font-size: 1.6rem !important;
  font-family: Georgia, serif;
}


.mat-form-field-underline{
  display: none !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 7px 5px;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }
.mat-form-field-wrapper {
padding-bottom: 0px !important ;
}

.mat-form-field-label-wrapper{
  display: none !important;
}
.sno{
  background-color: red !important;
  width: 15px !important;
}

.green-class-new{
  background-color: #00DFB9!important;
  color: black !important;
}

.edit_btn_cls{
  img{
    height: 18px;
    width: 25px;
  }
}

.pagination{
  margin-top: 10px;
  span{
    font-size: 13px;
  }
  .page-link{
    font-size: 13px;
  }
}

.total_result{
  font-size: 15px;
}
.no_data{
  font-size: 1.5rem;
  text-align: center;
  color: red;
}